@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        <p>Genre: @Model.Genre.Name</p>
    </li>
    <li>
        <p>Release Date: @Model.ReleaseDate.ToLongDateString()</p>
    </li>
    <li>
        <p>Date Added: @Model.DateAdded.ToLongDateString()</p>
    </li>
    <li>
        <p>Number in Stock: @Model.NumberInStock</p>
    </li>
</ul>

